.contenedor {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(
        90deg,
        #811ec9 0%,
        #5b71e6 51.56%,
        #39b8ff 100%
    );
    height: 100%;
    max-height: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 40px;
    column-gap: 40px;
}
.etiqueta {
    display: flex;
    flex-direction: column;
}
.etiqueta > label,
.etiqueta > input {
    color: #4c4c4c;
}
.etiqueta > label {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}
.etiqueta > input {
    padding: 10px 10px 10px 20px;
    border: none;
    border-radius: 80px;
    font-size: 15px;
}
